/* ============================================= */
/*                   Variables                      */
/* ============================================= */

// Colors

$color-text : #5a5a5a;
$color-accent: rgb(238, 238, 238);
$color-blue: #1e88e5;