.fade-in-element {
  animation: 1s ease-in 0s normal forwards 1 fadein;
  -webkit-animation: 1s ease-in 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.hidden {
  opacity: 0;
}