/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  color: $color-text !important;
}

.jumbotron {
  margin-bottom: 0 !important;

}

#portfolio {
  margin-top: 0;
}

.wrap {
  min-height: calc(100vh - 72px);
}

.contact {
  background-color: black;
  opacity: .9;

}

.footer {
  background-color: black;
  height: 56px;
  padding-top: 15px;
}