#jumbotron1 {
  background-image: url("../images/mountains.jpg");
  background-size: cover;
  height: 50vh;
}

#about {
  background-image: url("../images/mountains-2.jpg");
  background-size: cover;
  height: 50vh;

  h1 {
    text-align: center;

  }
}