#jumbotron1,
#about {
  background-image: url("../images/mountains.jpg");
  background-size: cover;
  height: 50vh;

  h1 {
    text-align: center;

  }
}

.cog-icon,
.eye-icon {
  font-size: 40px;
  margin-right: 10px;
}