#about {
  background-image: url("../images/title-photo-color.jpg");
  background-position: center;
  background-size: cover;
  height: 50vh;
}

#jumbotron1 {
  background-image: url("../images/socal-color.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;

}


.introduction {
  text-align: center;

}




.cog-icon {

  font-size: 32px;
  margin-right: 10px;
}