.jumbotron {
  margin-top: -56px;

}

#about {
  margin-top: 50px;
}

#about-heading {
  text-align: center;

}



.introduction {
  font-size: 40px;
  position: absolute;
  bottom: 150px;

}

#jumbotron1 {
  position: relative;

}