.jumbotron {
  margin-top: -56px;

}

#about {
  margin-top: 50px;
}

#about-heading {
  text-align: center;

}



.introduction {
  font-size: 50px;
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  margin: auto
}

#jumbotron1 {
  position: relative;

}