/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}



@media (min-width: 769px) {
  .container-contact {
    flex-direction: row;
    align-items: flex-start;
  }

  .social-container {
    margin-right: 50px;
    margin-left: 50px;
  }

  .story {
    display: block;
  }

  .project-buttons {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .nav-link:not(:last-child) {
    border-right: white 1px solid;

  }

}

@media (max-width: 1023px) {
  .project-buttons {
    text-align: center;

  }

}


// @media (max-width: 767px) {
//   .bg-dark {
//     background-color: #000 !important;

//   }

// 



@media (max-width: 576px) {
  .introduction {
    font-size: 32px;
    bottom: 100px;
  }
}

@media (max-width: 375px) {
  .introduction {
    font-size: 32px;
    bottom: 50px;

  }


}