.bg-dark {
  background: transparent !important;
  transition: 0.5s ease;
}

.bg-dark.scrolled {
  background: #000 !important;
}

.contact-icons {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-container {
  position: relative;
}