/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  // color: $color-blue;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  margin-top: 0 !important;
  margin-bottom: 1rem;
}

.featurette-image {
  margin-top: 20px;


}


.portfolio-container {
  margin-bottom: 150px;

}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills-header {
  // color: $color-blue;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.skill {
  margin: 5px;
  border: $color-text 1px solid;
  padding: 10px;
}

.project-buttons {

  margin-top: 40px;


  .github-button {
    margin-right: 20px;
  }

  .demo-button,
  .github-button {
    // border-radius: 5px;
    padding: 14px 20px;
    cursor: pointer;
    color: $color-text;
    background-color: $color-accent;
    // font-weight: 150;
    border: 1px solid #fff;
    box-shadow: 2px 2px 5px $color-text;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    text-decoration: none;

  }
}


.demo-button:hover,
.github-button:hover {
  color: white;
  color: $color-text;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 2px lightgrey;
}