/* Social media SVG's*/

a.social {
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 1;
  transition: all .5s;
}


a.linkedin {
  background-image: url(../images/linkedin.svg);
}

a.github {
  background-image: url(../images/github.svg);
}

a.social:hover {
  opacity: .4;
}

.email {
  background-image: url(../images/mail.svg);

}