/* Social media SVG's*/

.social {
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 1;
  transition: all .5s;
  display: inline-block;

}


.linkedin {
  background-image: url(../images/linkedin.svg);
}

.github {
  background-image: url(../images/github.svg);
}

.social:hover {
  opacity: .4;

}

.email {
  background-image: url(../images/mail.svg);

}

.social2 {
  @extend .social;
  height: 50px;
  width: 50px;
  background-size: 50px 50px;

}